body{
	width:350px;
	background:black;
	color:white;
	font-family:arial;
}

h1{
	color: red;
	text-align:center;
	font-size:16px;
}


h3{
	color:rgb(24,211,216);
}

img{
	margin:0 50px;
}