
body{
	width:500px;
	background:black;
	color:white;
	font-family:tahoma;
}

h1{
	color: red;
	text-align:center;
}

h4{
	margin: 0 0 0 50px;
}
img{
	margin:0 10px;
}

li p{
	padding: 0 10px;
	display:inline-block;
}

h3{
	color:rgb(24,211,216);
}

a{
	color:white;
	text-decoration:none;
}

th{
	font-size:10px;
	text-align:right;
	
}

#image{
	text-align:center;
}