<section id="part-intro" data-background-image="img/logo.png" data-background-position="5px 98%" data-background-size="20%">
	<h3>Conclusion</h3>
	<p>Améliorations possibles:</p>
	<ul>
		<li>Changement de thème</li>
		<li>Règles du jeu: si match nul, compter le nombre de tour à 5</li>
		<li>Implémenter le "Diviser pour régner" pour les IA</li>
		
	</ul>	
	
	<p>Apports:</p>
	<ul>
		<li>Utilisation de Bitbucket, Git, Maven</li>
		<li>Améliorer nos compétences en java (Réseaux, Swing,...)</li>
		
	</ul>	
 </section>