<section id="part-intro" data-background-image="img/logo.png" data-background-position="5px 98%" data-background-size="20%">
	<h3>Validation de l'IA</h3>
		<p>Réalisation de 30 tests pour chaque niveau</p>
		<img src="../img/iastatsj1.png"/><br/>
		<img src="../img/iastatnul.png"/><br/>
		<img src="../img/iastatsj1.png"/><br/>
		<p>Temps d'exécution de l'IA:</p>
		<img src="../img/iatps.png"/>
		
 </section>
 
 <section id="part-intro" data-background-image="img/logo.png" data-background-position="5px 98%" data-background-size="20%">
	<h3>Validation de l'IA</h3>
		<p>Temps d'exécution de l'IA:</p>
		<img src="../img/iatps.png"/>
		
 </section>
 
 