<section id="part-intro" data-background-image="img/logo.png" data-background-position="5px 98%" data-background-size="20%">
	<h3>Validation de l'IHM</h3>
		<h5>Déroulement de l'évaluation</h5>
		<p>Jeu testé au cours du projet par :</p>
			<ul> 
				<li>les autres groupes</li>
				<li>les amis et la famille</li>
			</ul>
		<h5>Retour Panel</h5>
			<p>Avis différents entre informaticiens, novices ou joueurs</p>
			<ul>
				<li>Drag'n'drop</li>
				<li>Label gagnant </li>
				<li>Annuler/Refaire</li>
				<li>Joueur courant</li>
			</ul>
 </section>