<section id="part-intro" data-background-image="img/logo.png" data-background-position="5px 98%" data-background-size="20%">
	<h3>Plan</h3>
		<ol>
			<li> IHM</li>
			<li> IA</li>
			<li>Réalisations techniques</li>
			<li> Conclusion</li>
		</ol>
 </section>